

	<div ng-hide="site.apiIsOk" class="callout callout-danger">
		<strong class="text-danger">Important: </strong>
		Make sure you have added your Facebook APP ID and APP Secret in the plugin settings.<br/>
		To add, First create an APP 
		(<a href="https://developers.facebook.com/apps/async/create/dialog/" target="_blank">click here</a>),
		then add the APP ID and Secret
		(<a ui-sref="settings.category.stack.view({ category : 'apis', stack : 'facebook' })">click here</a>);
		
	</div>

	<div ng-show="site.apiIsOk" class="callout callout-warning">
		<strong class="text-danger">Important: </strong>
		 Make sure you have set the "Site URL" value in the facebook app setting to:
		 
		 <strong class="text-info">
		 	<em>
		 		{{ site.fbRedirectUrl }}
		 	</em>
		 </strong> 
	</div>
	

