<div class="row">
	<div class="col-md-6" ng-repeat="project in projects">
		<div class="callout callout-primary callout-condensed">
			<h4>
				<a ui-sref="projects.project.overview({ project: project.id })">
					{{ project.name }}
				</a>
				
				<div class="pull-right">

				 	<a class="btn btn-info" ui-sref="project.jsAssets.all({ projectId: project.id })"> 
				 		Js Assets
				 	</a>
				 	
				 	<a class="btn btn-info" ui-sref="project.cssAssets.all({ projectId: project.id })"> 
				 		Css Assets
				 	</a>
			 	</div>		
			</h4>
		</div>
		
	</div>

</div>